# My Cython extensions
ciabatta/distance_numerics.c
ciabatta/field_numerics.c
ciabatta/geom_numerics.c
ciabatta/lattice_numerics.c
ciabatta/walled_field_numerics.c
*.so.dSYM

# OS X
.DS_Store

# Python
*.py[cod]

# Fortran
*.mod
*.out

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
